# Created by https://www.toptal.com/developers/gitignore/api/certificates,git
# Edit at https://www.toptal.com/developers/gitignore?templates=certificates,git

### certificates ###
*.pem
*.key
*.crt
*.cer
*.der
*.priv
*.csr

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# End of https://www.toptal.com/developers/gitignore/api/certificates,git